= simple_form_for(@profile) do |f|
  = f.error_notification

  .form-inputs
    / = f.association :user
    = f.input :name, input_html: { class: 'title_input' }
    = f.input :inn, input_html: { class: 'category_input' }

    / #region and city selects
    = f.association :region, :prompt => "Выберите район", input_html: { class: 'category_input' }
    / = f.association :city #profile_city_id
    .control-group.select.optional.profile_city
      %label.select.optional.control-label{ for: "profile_city_id" }
        Населенный пункт
      #profile_city.controls
        = render :partial => "cities"

    / #categories and subcategories checkboxes
    %ul.control-group.check_boxes.optional.unstyled.row-fluid
      %label.check_boxes.optional.control-label Категории
      .controls
        - Category.all.each do |category|
          %li.span4
            %label.checkbox
              = check_box_tag 'profile[category_ids][]', category.id, @profile.category_ids.include?(category.id), :class => "check_boxes optional category_checkbox", :id => "profile_category_ids_#{category.id}"
              = category.name
            - unless category.subcategories.blank?
              %ul.control-group.check_boxes.optional.subcat
                / %label.check_boxes.optional.control-label Категории
                .controls
                  - category.subcategories.each do |subcat|
                    %li
                      %label.checkbox
                        = check_box_tag 'profile[subcategory_ids][]', subcat.id, @profile.subcategory_ids.include?(subcat.id), :class => "check_boxes optional subcat_checkbox", :id => "profile_category_ids_#{subcat.id}"
                        = subcat.name

    = f.input :address, input_html: { class: 'title_input' }
    = f.input :phone, input_html: { class: 'title_input' }
    / = f.input :desc
    .fortextarea
      = f.input :desc, input_html: { class: 'wysihtml5' }, as: :text

  .form-actions
    = f.button :submit, :class => 'btn-u btn-u-blue'
