/ %h4 Список организаций

.indextable
  %table.table.table-hover.table-condensed
    - @profiles.each do |profile|
      %tr
        %td
          - if profile.city
            %p.city
              = profile.city.region.name
              = " - " + profile.city.name
          %h5
            = link_to profile.name, profile
          %p.price
            Телефон: 
            -if profile.phone && !profile.phone.empty?
              = profile.phone
            -else
              Нет данных
          %p.profile
            Адрес: 
            -if profile.address && !profile.address.empty?
              = profile.address
            -else
              Нет данных
        %td
          - if can? :update, profile
            = link_to 'Изменить', edit_profile_path(profile), class: "btn btn-mini btn-info"
    - if @profiles.empty?
      Записей нет
.apple_pagination
  = will_paginate @profiles

%br
- if current_user && current_user.profile
  = link_to 'Изменить профиль своей организации', edit_profile_path(current_user.profile), {class: 'btn'}
- elsif can? :create, Profile
  = link_to 'Создать профиль своей организации', new_profile_path, {class: 'btn'}