%h2 Список организаций

.indextable
  %table.table
    %tr
      / %th User
      %th Наименование
      %th ИНН
      %th Населенный пункт
      %th Район
      %th Адрес
      %th Телефон
      %th Описание
      %th
      %th
      %th

    - @profiles.each do |profile|
      %tr
        / %td= profile.user.name
        %td= profile.name
        %td= profile.inn
        %td= profile.city.name if profile.city
        %td= profile.region.name if profile.region
        %td= profile.address
        %td= profile.phone
        %td= profile.desc
        %td= link_to 'Показать', profile
        %td
          - if can? :update, profile
            = link_to 'Изменить', edit_profile_path(profile)
        %td
          - if can? :destroy, profile
            = link_to 'Удалить', profile, :method => :delete, :data => { :confirm => 'Вы уверены?' }

.apple_pagination
  = will_paginate @profiles

%br
- if current_user.profile
  = link_to 'Изменить профиль своей организации', edit_profile_path(current_user.profile), {class: 'btn'}
- else
  = link_to 'Создать профиль своей организации', new_profile_path, {class: 'btn'}