/ %h4 Список организаций

.indextable
  %table.table.table-hover.table-condensed
    - @profiles.each do |profile|
      %tr{itemscope: true, itemtype: "http://schema.org/Organization"}
        %td
          - if profile.city
            %p.city
              = profile.city.region.name
              = " - " + profile.city.name
          %h5{itemprop: "name"}
            = link_to profile.name, profile, {itemprop: "url"}
          %p
            Телефон: 
            -if profile.phone && !profile.phone.blank?
              %span{itemprop: "telephone"}
                = profile.phone
            -else
              Нет данных
          %p.profile
            Адрес: 
            -if profile.address && !profile.address.blank?
              = profile.address
            -else
              Нет данных
        %td
          - if can? :update, profile
            = link_to 'Изменить', edit_profile_path(profile), class: "btn-u btn-u-blue btn-u-small"
    - if @profiles.blank?
      Записей нет
.well.well-small
  = will_paginate @profiles, renderer: BootstrapPagination::Rails

%br
- if current_user && current_user.profile
  = link_to 'Изменить профиль своей организации', edit_profile_path(current_user.profile), {class: 'btn'}
- elsif can? :create, Profile
  = link_to 'Создать профиль своей организации', new_profile_path, {class: 'btn'}