.indextable
  %table.table.table-hover
    %thead
      %tr
        %th Дата
        %th Фото
        %th Наименование
        %th.hidden-phone.hidden-tablet Район
        %th.hidden-phone.hidden-tablet Единица
        %th Цена
    %tbody
      - @ad.each do |sell|
        %tr
          %td.middle
            = custom_format(sell.updated_at)
            %br
            = sell.updated_at.to_s :time
          %td.thumb_img
            = link_to image_tag(sell.image.url(:thumb), alt: ""), sell
          %td
            %p.category
              = "Предложение / " if sell.class.model_name == 'Sell'
              = "Спрос / " if sell.class.model_name == 'Buy'
              = sell.category.name if sell.category
              = "/ " + sell.subcategory.name if sell.subcategory
            %h5
              = link_to sell.title, sell
            - if can? :manage, sell
              = link_to 'Изменить', edit_sell_path(sell), class: "btn-u btn-u-blue btn-u-small" if sell.class.model_name == 'Sell'
              = link_to 'Изменить', edit_buy_path(sell), class: "btn-u btn-u-blue btn-u-small" if sell.class.model_name == 'Buy'
              = link_to 'Удалить', sell, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn-u btn-u-red btn-u-small"
          %td.middle.hidden-phone.hidden-tablet
            - if sell.city
              = sell.city.region.name
              = ", " + sell.city.name
            - else
              Нет данных
          %td.count.middle.hidden-phone.hidden-tablet
            = sell.count_type.name if sell.count_type
          %td.price.middle
            = link_to (number_to_currency sell.price, strip_insignificant_zeros: true), sell 

      - if @ad.blank?
        %tr
          %td
          %td
          %td
            %h3
              Объявлений нет
          %td.hidden-phone.hidden-tablet
          %td.hidden-phone.hidden-tablet
          %td

.well.well-small
  = will_paginate @ad, renderer: BootstrapPagination::Rails