/ %p#notice= notice

%p
  %b User:
  = @profile.user.name
%p
  %b Name:
  = @profile.name
%p
  %b Inn:
  = @profile.inn
%p
  %b City:
  = @profile.city.name if @profile.city
%p
  %b Region:
  = @profile.region.name if @profile.region

- unless @profile.categories.empty?
  %p
    %b Категории:
    %ul
      - @profile.categories.each do |cat|
        %li= cat.name
        - unless @profile.subcategories.empty? && cat.subcategories.empty?
          %ul
            - @profile.subcategories.each do |subcat|
              - if subcat.category == cat
                %li= subcat.name
/ - unless @profile.subcategories.empty?
/   %p
/     %b Подкатегории:
/     %ul
/       - @profile.subcategories.each do |subcat|
/         %li= subcat.name
%p
  %b Address:
  = @profile.address
%p
  %b Phone:
  = @profile.phone
%p
  %b Desc:
  = @profile.desc

- if can? :update, @profile
  = link_to 'Edit', edit_profile_path(@profile)
  \|
= link_to 'Back', :back