- content_for :title do
  = @profile.name
- content_for :description do
  = "Профиль организации "+ @profile.name
- content_for :keywords do
  = @profile.city.nil? ? "" : @profile.city.region.name+", "+@profile.city.name

- if can? :update, @profile
  = link_to 'Изменить', edit_profile_path(@profile), class: "btn-u btn-u-blue btn-u-small headbtn"
%h3
  = @profile.name

%table.table.table-striped
  %tr
    %td
      ИНН
    %td
      - if @profile.inn
        = @profile.inn
      - else
        Нет данных
  - if @profile.city
    %tr
      %td 
        Населенный пункт
      %td
        = @profile.city.region.name + ' район'
        = "/ " + @profile.city.name
  %tr
    %td 
      Категории
    %td
      - if @profile.categories.blank?
        Нет данных
      - else
        %ul
          - @profile.categories.each do |cat|
            %li= cat.name
            - unless @profile.subcategories.blank? && cat.subcategories.blank?
              %ul
                - @profile.subcategories.each do |subcat|
                  - if subcat.category == cat
                    %li= subcat.name
  - if @profile.phone && !@profile.phone.blank?
    %tr
      %td 
        Телефон
      %td
        = @profile.phone
  - if @profile.address && !@profile.address.blank?
    %tr
      %td 
        Адрес
      %td
        = @profile.address
  - if @profile.desc && !@profile.desc.blank?
    %tr
      %td 
        Описание
      %td
        = raw @profile.desc

= link_to 'Назад', :back, class: "btn profilebackbtn"

%h4 Объявления организации
.sellsblock
  = render 'sells'
