/ %p#notice= notice

%p
  %b Тип:
  = @ga_pageviews_record.model_type
%p
  %b Номер:
  = @ga_pageviews_record.model_id
%p
  %b Просмотров:
  = @ga_pageviews_record.pageviews
%p
  %b Уникальных просмотров:
  = @ga_pageviews_record.unique_pageviews

= link_to 'Просмотр', root_path + (@ga_pageviews_record.model_type+"/"+@ga_pageviews_record.model_id.to_s), :class => 'btn btn-info'
= link_to 'Изменить', edit_ga_pageviews_record_path(@ga_pageviews_record), class: "btn"
= link_to 'Назад', ga_pageviews_records_path, class: "btn"
