%ul
  %li= link_to 'Категории', categories_path
  %li= link_to 'Подкатегории', subcategories_path
  %li= link_to 'Регионы', regions_path
  %li= link_to 'Населенные пункты', cities_path
  %li= link_to 'Еденицы измерения', count_types_path

%h3 Список пользователей

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Имя пользователя
      %th Email
      %th Дата регистрации
      %th Роль
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.email
        %td= user.created_at.to_date
        %td= user.roles.first.name.titleize unless user.roles.first.nil?
        %td
          %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Изменить роль
          = render user
        %td= link_to("Удалить", user_path(user), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => 'btn btn-mini btn-danger') unless user == current_user
        %td= link_to("Редактировать", edit_user_path(user), :class => 'btn btn-mini') unless user == current_user

.apple_pagination
  = will_paginate @sells