%h3 Пользователь
%p
	= @user.name
- if @user.email
	%p
		Email: #{@user.email}

= link_to 'Изменить', edit_user_registration_path(@user), class: "btn"

%br
%br
- if @user.profile
	%h4 Профиль организации
	%p
		%b Наименование:
		= @user.profile.name
	%p
		%b ИНН:
		= @user.profile.inn
	%p
		%b Населенный пункт:
		= @user.profile.city.name if @user.profile.city
	%p
		%b Район:
		= @user.profile.region.name if @user.profile.region
	%p
		%b Адрес:
		= @user.profile.address
	%p
		%b Телефон:
		= @user.profile.phone
	%p
		%b Описание:
		= @user.profile.desc
		
	- unless @user.roles.first.nil?
		%p
			%b Роль
			= @user.roles.first.name.titleize

	- if can? :update, @user.profile
		= link_to 'Изменить профиль', edit_profile_path(@user.profile), class: "btn"
= link_to 'Назад', :back, class: "btn"