.indextable
  %table.table.table-hover.table-condensed
    - @ad.each do |sell|
      %tr
        %td
          %b= custom_format(sell.updated_at)
          %br
          = sell.updated_at.to_s :time
        %td
          = link_to image_tag(sell.image.url(:thumb)), sell
        %td
          %p.category
            = "Предложение / " if sell.class.model_name == 'Sell'
            = "Спрос / " if sell.class.model_name == 'Buy'
            = sell.category.name if sell.category
            = "/ " + sell.subcategory.name if sell.subcategory
          %h5
            = link_to sell.title, sell
          %p.price
            = number_to_currency sell.price, strip_insignificant_zeros: true
            = ' за ' + sell.count_type.name if sell.count_type
          %p.profile
            = link_to sell.user.profile.name, sell.user.profile if sell.user.profile
          - if sell.city
            %p.city
              = sell.city.region.name
              = " - " + sell.city.name
        %td
          - if can? :update, sell
            = link_to 'Изменить', edit_sell_path(sell), class: "btn btn-mini btn-info"
        %td
          - if can? :destroy, sell
            = link_to 'Удалить', sell, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn btn-mini btn-danger"

.apple_pagination
  = will_paginate @ad

- if can? :create, Sell
  = link_to 'Новое объявление', new_sell_path, {class: 'btn btn-success'}
- elsif can? :create, Buy
  = link_to 'Подать объявление о покупке', new_buy_path, {class: 'btn btn-success'}