.indextable
  %table.table.table-hover.table-condensed
    - @ad.each do |sell|
      %tr
        / %td
        /   %b= custom_format(sell.updated_at)
        /   %br
        /   = sell.updated_at.to_s :time
        %td.thumb_img
          = link_to image_tag(sell.image.url(:thumb), alt: ""), sell
        %td
          %p.category
            = "Предложение / " if sell.class.model_name == 'Sell'
            = "Спрос / " if sell.class.model_name == 'Buy'
            = sell.category.name if sell.category
            = "/ " + sell.subcategory.name if sell.subcategory
          %h5
            = link_to sell.title, sell
          %p.price
            = number_to_currency sell.price, strip_insignificant_zeros: true
            = ' за ' + sell.count_type.name if sell.count_type
          %p.profile
            = link_to sell.user.profile.name, sell.user.profile if sell.user.profile
          - if sell.city
            %p.city
              = sell.city.region.name
              = " - " + sell.city.name
        - if can? :update, sell
          %td.edit_td
            = link_to 'Изменить', edit_sell_path(sell), class: "btn-u btn-u-blue btn-u-small" if sell.class.model_name == 'Sell'
            = link_to 'Изменить', edit_buy_path(sell), class: "btn-u btn-u-blue btn-u-small" if sell.class.model_name == 'Buy'
        - if can? :destroy, sell
          %td.edit_td
            = link_to 'Удалить', sell, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn-u btn-u-red btn-u-small"
    - if @ad.empty?
      Объявлений нет
      
.well.well-small
  = will_paginate @ad, renderer: BootstrapPagination::Rails

- if can? :create, Sell
  = link_to 'Новое объявление', new_sell_path, {class: 'btn-u'}
- elsif can? :create, Buy
  = link_to 'Подать объявление о покупке', new_buy_path, {class: 'btn-u'}