.indextable
  %table.table.table-hover.table-condensed
    - @buys.each do |buy|
      %tr
        / %td
        /   %b= custom_format(buy.updated_at)
        /   %br
        /   = buy.updated_at.to_s :time
        %td.thumb_img
          = link_to image_tag(buy.image.url(:thumb), alt: ""), buy
        %td
          %p.category
            = buy.category.name if buy.category
            = "/ " + buy.subcategory.name if buy.subcategory
          %h5
            = link_to buy.title, buy
          %p.price
            = number_to_currency buy.price, strip_insignificant_zeros: true
            = ' за ' + buy.count_type.name if buy.count_type
          %p.profile
            = link_to buy.user.profile.name, buy.user.profile if buy.user.profile
          - if buy.city
            %p.city
              = buy.city.region.name
              = " - " + buy.city.name
        - if can? :update, buy
          %td.edit_td
            = link_to 'Изменить', edit_buy_path(buy), class: "btn-u btn-u-blue btn-u-small"
        - if can? :destroy, buy
          %td.edit_td
            = link_to 'Удалить', buy, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn-u btn-u-red btn-u-small"
    - if @buys.empty?
      Объявлений нет
      
.well.well-small
  = will_paginate @buys, renderer: BootstrapPagination::Rails

- if can? :create, Buy
  = link_to 'Новое объявление о покупке', new_buy_path, {class: 'btn-u'}
