- if can? :create, Buy
  = link_to 'Подать объявление о покупке', new_buy_path, {class: 'btn btn-success'}

.indextable
  %table.table.table-hover.table-condensed
    %tr
      %th Дата подачи
      %th Заголовок
      %th Количество
      %th Цена
      %th Населенный пункт
      %th Категория
      %th Пользователь
      %th
      %th

    - @buys.each do |buy|
      %tr
        %td= l(buy.updated_at, :format => :long)
        %td= link_to buy.title, buy
        %td
          = number_with_precision buy.count, precision: 2, strip_insignificant_zeros: true
          = ' ' + buy.count_type.name if buy.count_type
        %td
          = number_to_currency buy.price
          = ' за ' + buy.count_type.name if buy.count_type
        %td
          - if buy.city
            = buy.city.region.name + ' район'
            = "/ " + buy.city.name
        %td
          = buy.category.name if buy.category
          = "/ " + buy.subcategory.name if buy.subcategory
        %td= link_to buy.user.profile.name, buy.user.profile if buy.user.profile
        %td
          - if can? :update, buy
            = link_to 'Изменить', edit_buy_path(buy), class: "btn btn-mini btn-info"
        %td
          - if can? :destroy, buy
            = link_to 'Удалить', buy, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn btn-mini btn-danger"

.apple_pagination
  = will_paginate @buys

- if can? :create, Buy
  = link_to 'Подать объявление о покупке', new_buy_path, {class: 'btn btn-success'}
