.indextable
  %table.table.table-hover
    %thead
      %tr
        %th Дата
        %th Фото
        %th Наименование
        %th.hidden-phone.hidden-tablet Район
        %th.hidden-phone.hidden-tablet Единица
        %th Цена
    %tbody
      - @buys.each do |buy|
        %tr
          %td.middle
            = custom_format(buy.updated_at)
            %br
            = buy.updated_at.to_s :time
          %td.thumb_img
            = link_to image_tag(buy.image.url(:thumb), alt: ""), buy
          %td
            %p.category
              = buy.category.name if buy.category
              = "/ " + buy.subcategory.name if buy.subcategory
            %h5
              = link_to buy.title, buy
            %p.profile
              = link_to buy.user.profile.name, buy.user.profile if buy.user.profile
            - if can? :manage, buy
              = link_to 'Изменить', edit_buy_path(buy), class: "btn-u btn-u-blue btn-u-small"
              = link_to 'Удалить', buy, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn-u btn-u-red btn-u-small"
          %td.middle.hidden-phone.hidden-tablet
            - if buy.city
              = buy.city.region.name
              = ", " + buy.city.name
            - else
              Нет данных
          %td.count.middle.hidden-phone.hidden-tablet
            = buy.count_type.name if buy.count_type
          %td.price.middle
            = link_to (number_to_currency buy.price, strip_insignificant_zeros: true), buy 

      - if @buys.empty?
        %tr
          %td
          %td
          %td
            %h3
              Объявлений нет
          %td.hidden-phone.hidden-tablet
          %td.hidden-phone.hidden-tablet
          %td

     
.well.well-small
  = will_paginate @buys, renderer: BootstrapPagination::Rails

/ - if can? :create, Buy
/   = link_to 'Новое объявление о покупке', new_buy_path, {class: 'btn-u'}
