/ %h1 Покупка

/ %ul
/   - @categories.each do |category|
/     %li
/       = link_to category.name, buys_category_path(category)
/       - if !category.subcategories.empty?
/         %ul
/           - category.subcategories.each do |subcat|
/             %li= link_to subcat.name, buys_subcategory_path(subcat)

= search_form_for @q do |f|
	= f.label :title_cont, 'Поиск по заголовку'
	= f.text_field :title_cont
	= f.label :city_id_eq, "Фильтр по населенному пункту"
	= f.collection_select :city_id_eq, @cities, :id, :name, {:include_blank => "Все"}
	= f.label :region_id_eq, "Фильтр по региону"
	= f.collection_select :region_id_eq, @regions, :id, :name, {:include_blank => "Все"}
	= f.submit "Применить"

.sellsblock
	= render 'buys'