= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body, input_html: { class: 'wysihtml5' }, as: :text

  .form-actions
    = f.button :submit, :class => 'btn-u btn-u-blue'
