= simple_form_for(@category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :default_image, as: :file
    = f.input :sort_id

  .form-actions
    = f.button :submit, :class => 'btn-u btn-u-blue'
