%h1 Список категорий

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th Порядок
      %th Стандартное изображание
      %th Наименование
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.sort_id
        %td
          - if category.default_image_file_name == 'missing.png'
            = image_tag("/images/missing/thumb/#{category.default_image_file_name}", class: "img-polaroid")
          - else
            = image_tag("#{category.default_image.url(:thumb)}", class: "img-polaroid")
        %td= link_to category.name, category
        %td
          - if can? :update, category
            = link_to 'Изменить', edit_category_path(category), :class => 'btn btn-mini'
        %td
          - if can? :destroy, category
            = link_to 'Удалить', category, :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-mini btn-danger'

%br

= link_to 'Добавить категорию', new_category_path, {class: 'btn'}
