%h1 Список регионов

%table.table
  %tr
    %th Id
    %th Name
    %th
    %th

  - @regions.each do |region|
    %tr
      %td= region.id
      %td= link_to region.name, region
      %td
        - if can? :update, region
          = link_to 'Изменить', edit_region_path(region), :class => 'btn btn-mini'
      %td
        - if can? :destroy, region
          = link_to 'Удалить', region, :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-mini btn-danger'

%br

= link_to 'Новый регион', new_region_path
