- if can? :create, Sell
  = link_to 'Подать объявление о продаже', new_sell_path, {class: 'btn btn-success'}

.indextable
  %table.table.table-hover.table-condensed
    %tr
      %th Дата подачи
      %th Фотография
      %th Заголовок
      / %th Количество
      %th Цена
      %th Населенный пункт
      %th Категория
      %th Организация
      %th
      %th

    - @sells.each do |sell|
      %tr
        %td= l(sell.updated_at, :format => :long)
        %td= image_tag sell.image.url(:thumb)
        %td= link_to sell.title, sell
        / %td
        /   = number_with_precision sell.count, precision: 2, strip_insignificant_zeros: true
        /   = ' ' + sell.count_type.name if sell.count_type
        %td
          = number_to_currency sell.price
          = ' за ' + sell.count_type.name if sell.count_type
        %td
          - if sell.city
            = sell.city.region.name
            = "/ " + sell.city.name
        %td
          = sell.category.name if sell.category
          = "/ " + sell.subcategory.name if sell.subcategory
        %td= link_to sell.user.profile.name, sell.user.profile if sell.user.profile
        %td
          - if can? :update, sell
            = link_to 'Изменить', edit_sell_path(sell), class: "btn btn-mini btn-info"
        %td
          - if can? :destroy, sell
            = link_to 'Удалить', sell, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn btn-mini btn-danger"

.apple_pagination
  = will_paginate @sells

- if can? :create, Sell
  = link_to 'Подать объявление о продаже', new_sell_path, {class: 'btn btn-success'}
