%h2 Продажа

.indextable
  %table.table
    %tr
      %th Номер
      %th Дата подачи
      %th Title
      /%th Body
      %th Count
      /%th Count type
      %th Price
      / %th Price type
      %th City
      %th Category
      %th Subcategory
      %th User
      %th
      %th
      %th

    - @sells.each do |sell|
      %tr
        %td= sell.id
        %td= l(sell.updated_at, :format => :long)
        %td= sell.title
        /%td= sell.body
        %td
          = sell.count
          = ' ' + sell.count_type.name if sell.count_type
        /%td= sell.count_type.name if sell.count_type
        %td
          = sell.price.to_s + ' руб.'
          = ' за ' + sell.count_type.name if sell.count_type
        / %td
        /   = show_price_type sell.price_type
        /   = sell.count_type.name if sell.count_type && sell.price_type == 1
        %td= sell.city.name if sell.city
        %td= sell.category.name if sell.category
        %td= sell.subcategory.name if sell.subcategory
        %td= sell.user.name
        %td= link_to 'Show', sell
        %td
          - if can? :update, sell
            = link_to 'Edit', edit_sell_path(sell)
        %td
          - if can? :destroy, sell
            = link_to 'Destroy', sell, :method => :delete, :data => { :confirm => 'Are you sure?' }

.apple_pagination
  = will_paginate @sells

%br
- if can? :create, Sell
  = link_to 'Подать объявление о продаже', new_sell_path, {class: 'btn'}
