- content_for :title do
  = @sell.title
- content_for :description do
  = "Покупка "+ (@sell.subcategory.nil? ? @sell.category.name : @sell.subcategory.name) + (@sell.city.nil? ? "" : " в " + @sell.city.region.name + ' район, ' + @sell.city.name) + (" от " + @sell.user.profile.name)
- content_for :keywords do
  = @sell.subcategory.nil? ? @sell.category.name : @sell.category.name+", "+@sell.subcategory.name

/ %p#notice= notice
- if can? :update, @sell
  = link_to 'Изменить', edit_sell_path(@sell), class: "btn-u btn-u-blue btn-u-small headbtn"
%h4
  = @sell.title
- if @sell.image.file?
  .thumbnail
    = image_tag @sell.image.url(:large)
%p
  = raw @sell.body
%table.table.table-condensed.table-striped
  %tr
    %td
      Цена
    %td
      = number_to_currency @sell.price, strip_insignificant_zeros: true
      = ' за ' + @sell.count_type.name if @sell.count_type
  %tr
    %td 
      Количество
    %td
      = number_with_precision @sell.count, precision: 2, strip_insignificant_zeros: true
      = ' ' + @sell.count_type.name if @sell.count_type
  %tr
    %td 
      Категория
    %td
      = @sell.category.name
      = "/ " + @sell.subcategory.name if @sell.subcategory
  - if @sell.city
    %tr
      %td 
        Населенный пункт
      %td
        = @sell.city.region.name + ' район'
        = "/ " + @sell.city.name
  %tr
    %td 
      Организация
    %td
      = link_to @sell.user.profile.name, @sell.user.profile
  - unless @sell.user.profile.phone.blank?
    %tr
      %td 
        Телефон
      %td
        = @sell.user.profile.phone
  - unless @sell.user.profile.address.blank?
    %tr
      %td 
        Адрес
      %td
        = @sell.user.profile.address
  %tr
    %td 
      Создано
    %td
      = l(@sell.updated_at, :format => :long)

= link_to 'Назад', :back, class: "btn"
