- if can? :create, Sell
	= link_to 'Подать объявление', new_sell_path, {class: 'btn-u advbtn btn-u-green input-block-level'}
- elsif can? :create, Buy
	= link_to 'Подать объявление', new_buy_path, {class: 'btn-u advbtn btn-u-green input-block-level'}
- else
	= link_to 'Подать объявление', new_sell_path, {class: 'btn-u advbtn btn-u-green input-block-level'}
	%p.muted.addtxt
		Для подачи объявления
		= link_to 'войдите', new_user_session_path
		или
		= link_to 'зарегистрируйтесь', new_user_registration_path
