.catsblock
	- if params[:controller] == "buys"
		%ul.nav.nav-list
			- Category.all.each do |category|
				%li{:class => ("active" if params[:action] == "show_category" && params[:id].to_i == category.id)}
					- name = category.name
					- name += " (#{category.buys.length})" if category.buys.length > 0
					= link_to name, buys_category_path(category), class: "cat"
					- if category.subcategories.present?
						%ul.nav.nav-list.subcat
							- category.subcategories.each do |subcat|
								%li{:class => ("active" if params[:action] == "show_subcategory" && params[:id].to_i == subcat.id)}
									- subcat.buys.length > 0 ? name = "#{subcat.name} (#{subcat.buys.length})" : name = "#{subcat.name}"
									= link_to name, buys_subcategory_path(subcat)

	- elsif params[:controller] == "profiles"
		%ul.nav.nav-list
			- Category.all.each do |category|
				%li{:class => ("active" if params[:action] == "show_category" && params[:id].to_i == category.id)}
					- name = category.name
					- name += " (#{category.profiles.length})" if category.profiles.length > 0
					= link_to name, profiles_category_path(category), class: "cat"
					- if category.subcategories.present?
						%ul.nav.nav-list.subcat
							- category.subcategories.each do |subcat|
								%li{:class => ("active" if params[:action] == "show_subcategory" && params[:id].to_i == subcat.id)}
									- subcat.profiles.length > 0 ? name = "#{subcat.name} (#{subcat.profiles.length})" : name = "#{subcat.name}"
									= link_to name, profiles_subcategory_path(subcat)

	- else
		%ul.nav.nav-list
			- Category.all.each do |category|
				%li{:class => ("active" if params[:action] == "show_category" && params[:id].to_i == category.id)}
					- name = category.name
					- name += " (#{category.sells.length})" if category.sells.length > 0
					= link_to name, sells_category_path(category), class: "cat"
					- if category.subcategories.present?
						%ul.nav.nav-list.subcat
							- category.subcategories.each do |subcat|
								%li{:class => ("active" if params[:action] == "show_subcategory" && params[:id].to_i == subcat.id)}
									- subcat.sells.length > 0 ? name = "#{subcat.name} (#{subcat.sells.length})" : name = "#{subcat.name}"
									= link_to name, sells_subcategory_path(subcat)