/ - if params[:action] == "index"
.catsblock
	- if params[:controller] == "sells"
		%ul.nav.nav-list
			- Category.all.each do |category|
				%li{:class => ("active" if params[:action] == "show_category" && params[:id].to_i == category.id)}
					= link_to category.name, sells_category_path(category)
					- if !category.subcategories.empty?
						%ul.nav.nav-list
							- category.subcategories.each do |subcat|
								%li{:class => ("active" if params[:action] == "show_subcategory" && params[:id].to_i == subcat.id)}
									= link_to subcat.name, sells_subcategory_path(subcat)
	- elsif params[:controller] == "buys"
		%ul.nav.nav-list
			- Category.all.each do |category|
				%li{:class => ("active" if params[:action] == "show_category" && params[:id].to_i == category.id)}
					= link_to category.name, buys_category_path(category)
					- if !category.subcategories.empty?
						%ul.nav.nav-list
							- category.subcategories.each do |subcat|
								%li{:class => ("active" if params[:action] == "show_subcategory" && params[:id].to_i == subcat.id)}
									= link_to subcat.name, buys_subcategory_path(subcat)
	- elsif params[:controller] == "profiles"
		%ul.nav.nav-list
			- Category.all.each do |category|
				%li{:class => ("active" if params[:action] == "show_category" && params[:id].to_i == category.id)}
					= link_to category.name, profiles_category_path(category)
					- if !category.subcategories.empty?
						%ul.nav.nav-list
							- category.subcategories.each do |subcat|
								%li{:class => ("active" if params[:action] == "show_subcategory" && params[:id].to_i == subcat.id)}
									= link_to subcat.name, profiles_subcategory_path(subcat)