= search_form_for @q, :url => filter_url, :class => "searchform" do |f|
	.span6.searchblock
		- if params[:controller] == "profiles"
			= f.text_field :name_cont, :placeholder => "Поиск..."
		- else
			= f.text_field :title_cont, :placeholder => "Поиск..."
	.span2
		= f.collection_select :region_id_eq, @regions, :id, :name, {:include_blank => "Все районы"}
	.span1
		= f.submit "Поиск", class: "btn-u btn-u-blue btn-filter"
