/ %span.green.pull-left
/ 	Электронная биржа сельхоз продукции

%ul.nav.usermenu
	- if user_signed_in?

		%li
			= link_to current_user.name, current_user
		%li.bigpad
			= link_to 'Профиль организации', current_user.profile
		- if current_user.has_role? :admin
			%li.bigpad
				= link_to 'Администрирование', users_path
		%li.bigpad
			= link_to 'Выйти', destroy_user_session_path, :method=>'delete'

	- else

		%li
			= link_to 'Войти', new_user_session_path
		%li.smallpad
			или
		%li.smallpad
			= link_to 'Зарегистрироваться', new_user_registration_path

%ul.nav.pull-right
	%li{:class => ("active" if params[:controller] == "home" || params[:controller] == "sells" || params[:controller] == "buys")}
		= link_to 'Каталог', root_path
	%li{:class => ("active" if params[:controller] == "profiles")}
		= link_to 'Реестр производителей', profiles_path
	/ %li
	/ 	= link_to 'Статистика', "#"
	%li
		= link_to 'О проекте', "#"
	%li
		= link_to 'Контакты', "#"
			