/ = link_to "Agrosakha.ru", root_path, :class => 'brand'
/ = link_to image_tag("/images/logo3.png"), root_path, :class => 'mylogo'
.row.border_bottom.navrow1
	.span6
		%span.green
			ЭЛЕКТРОННАЯ БИРЖА СЕЛЬХОЗ ПРОДУКЦИИ,
		%span.gray
			777-777
	.span6
		%ul.nav.pull-right
			%li{:class => ("active" if params[:controller] == "home" || params[:controller] == "sells" || params[:controller] == "buys")}
				= link_to 'КАТАЛОГ', root_path
			%li{:class => ("active" if params[:controller] == "profiles")}
				= link_to 'РЕЕСТР ПРОИЗВОДИТЕЛЕЙ', profiles_path
			%li
				= link_to 'СТАТИСТИКА', "#"
.row
	.span4.offset4.pagination-centered.mylogo
		= link_to "АГРОСАХА", root_path, :class => ''
	.span4
		%ul.nav.pull-right
			%li
				= link_to 'О ПРОЕКТЕ', "#"
			%li
				= link_to 'КОНТАКТЫ', "#"