!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Agrosakha.ru"
      %meta{:content => content_for?(:description) ? yield(:description) : "Agrosakha.ru", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)

        /HTML5 shim, for IE6-8 support of HTML5 elements
        /[if lt IE 9]
          %script{:src  => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
        /[if IE 6]
          = stylesheet_link_tag "ie6.css"
  %body{:class => "#{controller_name} #{action_name}"}
    #wrap
      .navbar.navbar-static-top.border_bottom
        %nav
          .container
            = render 'layouts/navigation'
      #main{:role => "main"}
        .container
          .row
            .span2
              = link_to image_tag('/images/logo.png'), root_path, class: "mylogo"
            .span10
              = render 'layouts/filter'
          .row
            .span2
              = render 'layouts/categories'
            .span8
              = render 'layouts/messages'
              = render 'layouts/advs'
              .yieldblock
                = yield
            .span2
              .sidebar.span2{"data-spy"=>"affix", "data-offset-top"=>"109"}
                = render 'layouts/addbutton'

              = render 'layouts/popular'
              / = render 'layouts/mainmenu'

        / ! end of .container
        #push
      / ! end of #main
    / ! end of #wrap
    %footer.muted
      .container
        2013 ©
        = link_to 'Fivetronics', 'http://fivetronics.com/'
